{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>{% trans "My orders" %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans "Ref Code" %}</th>
            <th scope="col">{% trans "Items" %}</th>
            <th scope="col">{% trans "Order Total Price" %}</th>
            <th scope="col">{% trans "Order Date" %}</th>
            <th scope="col">{% trans "Delivered" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in object %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order.ref_code }}</td>
            <td>
                {% for item in order.items.all %}
                    {{ item.quantity }}x {{ item.item.title }} <br>
                {% endfor %}
            </td>
            <td>{{ order.get_total }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.received }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='6'>{% trans "You didn't place any orders yet.." %}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
            <a class='btn btn-secondary float-left' href='/request-refund'>{% trans "Request a refund" %}</a>
            <a class='btn btn-primary float-right' href='/my-account'>{% trans "Go back to my profile" %}</a>
            </td>
        </tr>
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


